.navbar {
    background-color: #333;
  }
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-heading {
    font-size: 2rem;
    color: #fff;
  }
  .main-heading::before {
    content: "\f121"; /* code icon from FontAwesome */
    font-family: FontAwesome;
    margin-right: 10px;
  }
  .container {
    display: flex;
    flex-direction: column; /* Align cards vertically (column-wise) */
    justify-content: flex-start; /* Align cards to the start */
    align-items: center; /* Center the cards horizontally */
    width: 80vw; /* Container takes 80% of the screen width */
    max-width: 100%; 
    margin: 0 auto;/* Center the container on the screen */
    background-color: #f2f2f2;
    box-sizing: border-box;
  }
  
  .profile {
    display: flex; /* Use flex layout for aligning child elements */
    justify-content: space-between; /* Create space between left and right sections */
    align-items: center;
    background-color: #fff;
    margin-bottom: 20px;
    width: 70vw; /* Cards take 70% of the container's width */
    padding: 20px;
    margin-bottom: 20px; /* Space between cards */
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
  }
  
  .profile:hover{
    transform: scale(1.05);
  }
  
  .skill { /* Align the skills to the right */
    list-style-type: none; /* Remove default list styling */
  
  }
  
  .skill li {
    background-color: #e9f5ff; /* Light blue background for skills */
    color: #007bff; /* Primary color for skill text */
    padding: 5px 10px; /* Inner padding for skill items */
    margin: 5px; /* Space between skills */
    border-radius: 4px; /* Rounded corners for skill items */
     /* Keep skills inline */
    font-size: 14px; /* Adjust font size */
  }
  
  .round-img {
  
    border-radius: 50%;
    width: 80px; /* Set a fixed width for the image */
    height: 80px; /* Set a fixed height for the image */
    margin-right: 20px; 
  
  }
  
  @media (max-width: 768px) {
    .container {
      /* Adjust layout for smaller screens */
      flex-direction: column; /* Stack elements vertically */
      padding: 10px; /* Reduce padding */
    }
  
    .profile {
      /* Adjust profile card layout */
      width: 100%; /* Make profile cards full width */
      margin-bottom: 20px;
    }
  }
  
  /* Media query for medium screens (e.g., tablets) */
  @media (min-width: 769px) and (max-width: 1024px) {
    .container {
      /* Adjust layout for medium screens */
      flex-direction: row; /* Keep horizontal layout */
      justify-content: space-between;
    }
  
    .profile {
      /* Adjust profile card size */
      width: 45%;
    }
  }